# Node
node_modules
npm-debug.log
yarn-error.log

# Angular
dist
.angular
.sass-cache
/out-tsc

# IDE
.idea
.vscode
*.swp
*.swo
*~

# System files
.DS_Store
Thumbs.db

# Old JSPM packages
jspm_packages
